Repository ELTE-Clean/Clean-Administration-Platform, pull requests merged in 2022-04, with the labels that each got.

#50 Add users, groups, user_to_group tables
  cleanDB/scripts/clean_db.sql
Labels: Database

#51 Log Utility
  backend/build.sh
  backend/env/backend.env
  backend/middlewares/prepro_handlers.js
  backend/routes/main.js
  backend/server.js
  backend/utils/logger_utils.ts
Labels: api_server

#58 Basic Users Functionalities
  backend/env/backend.env
  backend/middlewares/error_handlers.js
  backend/routes/users.js
  backend/utils/keycloak_utils.ts
  cleanDB/scripts/auth_db.sql
  refresh_backend.sh
Labels: Security, Keycloak, api_server

#55 Add main database endpoints
  backend/routes/db.js
  backend/routes/main.js
  backend/routes/users.js
  backend/utils/database_utils.ts
  backend/utils/logger_utils.ts
  cleanDB/scripts/clean_db.sql
Labels: bug, api_server, Database

#63 Add table update utility function
  backend/routes/groups.js
  backend/routes/sections.js
  backend/routes/tasks.js
  backend/routes/users.js
  backend/utils/database_utils.ts
  cleanDB/scripts/clean_db.sql
Labels: api_server, Database
