Repository ELTE-Clean/Clean-Administration-Platform, pull requests merged in 2022-03, with the labels that each got.

#39 Initialize CAP database
  backend/routes/main.js
  cleanDB/Dockerfile
  cleanDB/conf/pg_hba.conf
  cleanDB/scripts/clean_db.sql
  cleanDB/scripts/init.sql
  docker-compose-local.yml
  frontend/package.json
  nginx/nginx.conf
  platform_build_deploy.sh
Labels: api_server

#41 Log in/out and Authuntication Check Middlewares
  README.md
  backend/middlewares/error_handlers.js
  backend/routes/main.js
  backend/server.js
  backend/utils/keycloak_utils.ts
  keycloak/env/keycloak.env
Labels: Security, Keycloak, api_server

#48 Database utilities and API endpoints
  README.md
  backend/.babelrc
  backend/env/backend.env
  backend/middlewares/error_handlers.js
  backend/package.json
  backend/routes/main.js
  backend/utils/database_utils.ts
  backend/utils/keycloak_utils.ts
  docker-compose-local.yml
Labels: api_server, Database
